<div class="flex-column">
  <mat-form-field id="newsSearchForm" class="mt-4 d-flex justify-content-center" [style.fontSize.px]=17>
    <input matInput type="search" placeholder="Search for news"
           [(ngModel)]="searchInput"
           (keyup.enter)="getNewsBySearch(searchInput)"
           (keyup)="doAutomaticSearch()">
    <button id="searchButton" matSuffix mat-button (click)="getNewsBySearch(searchInput)">
      <i class="material-icons">search</i>
    </button>
  </mat-form-field>
  <mat-spinner *ngIf="isLoadingNews" class="d-flex mx-auto"></mat-spinner>
  <div *ngIf="!isLoadingNews">
    <ng-container *ngFor="let article of news.hits">
      <news-list-card [article]="article"></news-list-card>
    </ng-container>
  </div>
  <mat-paginator #paginator class="d-flex justify-content-center"
                 [length]="newsCount"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent($event)">
  </mat-paginator>
</div>
